.wrapper {
  :global {
    .clip-name-wrapper{
      position: relative;
      height: 40px;
      margin-bottom: 32px;

      .nickname{
        width: 16px;
        height: 16px;
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
      .clip-name {
        width: 320px;
        height: 100%;
        border-radius: 20px;
        padding-left: 36px;
        box-sizing: border-box;
        background: #E5E5E5;
      }
      .clear{
        position: absolute;
        width: 16px;
        height: 16px;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
        cursor: pointer;
      }
    }
    .buttons{
      display: flex;
      justify-content: space-between;
      margin-bottom: 80px;
      .capsule-button {
        height: 40px;
        width: 148px;
        &.cancel{
          background-color: #e5e5e5;
        }
      }
    }
    .del-clip{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      img{
        width: 24px;
        height: 24px;
      }
      span{
        margin-top: 4px;
        color: #FF5733;
      }
    }
  }
}

.warning-popup{
  width: 480px;
  border: 1px solid #000;
  :global{
    .content-in{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 152px;
      margin-top: 24px;
      .note{
        text-align: center;
      }
      p{
        font-size: 16px;
        color: #000;
      }
      .buttons{
        display: flex;
        height: 40px;
        .capsule-button{
          width: 148px;
          margin: 0 12px;
          &.cancel{
            color: #808080;
            background: rgba(56,56,56,0.2);
          }
          &.del{
            color: #fff;
            background: #FF5733;
          }
        }
      }
    }
  }
}

