@import "../../../../style/variable.scss";
$black-bg: rgba(0,0,0,0.2);
$subtag-margin-bottom: 8px;

@mixin active {
  color: $green;
  background: #43CF7C33;
  border-color: $green;
}

.create-page {
  position: relative;
  height: calc(100vh - 80px);
  box-sizing: border-box;
  font-size: 16px;
  display: flex;
  justify-content: center;
  .create-page-content {
    padding: 0 48px;
    display: flex;
    margin: 0 auto 0;
    height: calc(100% - 16px);
    .left {
      display: flex;
      flex-direction: column;
      width: calc(54000vw/1920);
      margin-right: calc(4000vw/1920);
      background-color: $black-bg;
      border-radius: 20px;
      padding-left: 24px;
      box-sizing: border-box;
      >*{
        flex-shrink: 0;
      }
      .choose-mode {
        height: 80px;
        color: #ccc;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        position: relative;
        border-bottom: 1px solid #333333;
        margin-right: 24px;

        .capsule-button {
          width: 108px;
          height: 32px;
          font-size: 16px;
          color: #202020;
          white-space: nowrap;
          &:not(.active) {
            background: transparent;
            color: #fff;
          }
        }
      }

      .text-limit {
        color: rgba(255, 255, 255, 0.3);
        text-align: right;
      }

      .choose-style {
        flex-grow: 1;
        .choose-style-limit {
          position: relative;
          overflow: hidden;
          height: 100%;
        }

        .choose-style-content {
          padding-top: 24px;
        }

        position: relative;
        padding-top: 12px;
        padding-bottom: 12px;
        height: 380px;
        box-sizing: border-box;
        //通用样式
        .capsule-button {
          height: 32px;
          background: transparent;
          color: #ccc;
          white-space: nowrap;
        }

        //通用样式
        .choose {
          display: flex;
          align-items: center;
          margin-bottom: 24px;

          .capsule-button[data-checked="checked"] {
            @include active;
          }

          p {
            flex-shrink: 0;
            width: calc(12400vw/1920);
            white-space: nowrap;
            height: 32px;
            line-height: 32px;
          }
          &.dimension{
            align-items: flex-start;
            .dimension-options {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              width: calc(36800vw/1920);
              .capsule-button {
                width: calc(11200vw/1920);
                padding: 0 6px;
                margin-bottom: 8px;
              }
            }
          }
          &.choose-tags {
            align-items: flex-start;
            margin-bottom: 24 px- $subtag-margin-bottom;

            .all {
              margin-bottom: 8px;
              width: calc(11200vw/1920);
              .capsule-button{
                //min-width: 80px;
              }
            }

            .sub {
              display: flex;
              flex-wrap: wrap;

              .capsule-button {
                margin-right: 4px;
                margin-bottom: $subtag-margin-bottom;
                min-width: calc(11200vw/1920);
                padding: 0 6px;
              }
            }
          }
        }

        //上传图片创作
        .upload-img {
          width: 400px;
          height: 200px;
          border: 1px solid #FFFFFF33;
          text-align: center;
          line-height: 200px;
          color: $green;
          font-size: 20px;
          position: relative;

          img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            max-height: 100%;
            max-width: 100%;
          }
        }
      }

      .negative-prompt{
        border-top: 1px solid #333;
        margin-right: 24px;
        margin-top: 10px;
        .input-negative{
          padding: 8px 16px;
          padding-left: 0;
        }
        .neg-prompt{
          background: transparent;
          font-size: 14px;
          resize: none;
          border: none;
          outline: none;
          color: #fff;
          width: 100%;
          margin-right: 10px;
          height: 60px;
          overflow: hidden;
        }
      }
      //相关性
      .relevance {
        padding-right: 24px;
        box-sizing: border-box;
        .MuiSlider-root{
          height: 8px;
          width: calc(30400vw/1920);
          .MuiSlider-rail{
            color: #FFFFFF4C;
          }
          .MuiSlider-track{
            border: none;
            color: $green;
          }
        }
        .MuiSlider-thumb{
          width: 16px;
          height: 16px;
          background: $green;
          color: $green;
          content: normal;
          box-shadow: 0px 4px 12px 0px #0000007F !important;
          &:hover{
            box-shadow: none;
          }
          &::before, &::after{
            box-shadow: none;
          }
        }
        .percentage {
          color: $green;
          padding-left: 16px;
        }
      }
    }

    .right {
      width: calc(126000vw/1920);
      height: 100%;
      box-sizing: border-box;
      background: $black-bg;
      border-radius: 20px;
      padding: 0 24px;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      .operate-buttons{
        height: 80px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #333;
        padding-top: 24px;
        box-sizing: border-box;
        .create {
          position: relative;
          &.disable {
            background: #2A82E4 !important;
            overflow: hidden;
            border: none;
            pointer-events: none;
            color: #fff;
          }
          .progress {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            transform: translateX(-100%);
          }
        }

        .capsule-button{
          white-space: nowrap;
          font-size: 14px;
          height: 32px;
          line-height: 32px;
          width: calc(14200vw/1920);
        }
      }
      .choose-layer{
        display: flex;
        align-items: center;
        margin: 10px 0;
        .ant-dropdown-trigger{
          margin: 0 10px;
          width: 320px;
          height: 32px;
          background: #303030;
          border-radius: 16px;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          padding-left: 12px;
          padding-right: 10px;
          justify-content: space-between;
          cursor: pointer;
          &.none{
            color: #555;
            pointer-events: none;
          }
          p{
            display: flex;
            align-items: center;
            font-size: 14px;
            .pure-color{
              width: 24px;
              height: 24px;
              background: #202020;
            }
            span:nth-child(2){
              margin-left: 8px;
            }
            img{
              width: 24px;
              height: 24px;
              object-fit: contain;
            }
          }
          .iconfont{
            font-size: 24px;
            color: #444;
            font-weight: bold;
          }
        }
        .delete-layer{
          width: 32px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 36px;
          margin-left: 16px;
          color: #FF4E4E;
          cursor: pointer;
        }
      }

      .img-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        .img-center{
          display: grid;
          grid-template: 1fr 1fr / 1fr 1fr;
          flex-direction: column;
          justify-content: space-between;
          .img-placeholder{
            background: #242424;
            border-radius: 8px;
            overflow: hidden;
            position: relative;
            &:nth-child(1){
              align-self: end;
            }
            &:nth-child(2){
              align-self: end;
            }
            &:nth-child(3){
              align-self: start;
            }
            &:nth-child(4){
              align-self: start;
            }
            >.iconfont{
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              color: #383838;
              font-size: calc(4800vh/1080);
            }
            img{
              position: relative;
              z-index: 2;
              width: 100%;
              height: 100%;
            }
            &:hover{
              .hover-icons{
                display: flex;
              }
            }
            .hover-icons{
              display: none;
              position: absolute;
              bottom: 5%;
              width: 100%;
              justify-content: center;
              z-index: 3;
              .iconfont{
                width: calc((100vh - 176px) * 40 / 904);
                height: calc((100vh - 176px) * 40 / 904);
                border-radius: 50%;
                background: #00000099;
                margin: 0 calc((100vh - 176px) * 8 / 904);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
              }
            }
          }
          &.dim1{
            gap: calc((100vh - 176px) * 24 / 904) calc((100vh - 176px) * 24 / 904);
            width: calc((100vh - 176px) * 744 / 904);
            height: calc((100vh - 176px) * 744 / 904);
            .img-placeholder{
              aspect-ratio: 1;
            }
          }
          &.dim2{
            gap: calc((100vh - 176px) * 24 / 904) calc((100vh - 176px) * 24 / 904);
            width: calc((100vh - 176px) * 584 / 904);
            height: calc((100vh - 176px) * 864 / 904);
            .img-placeholder{
              aspect-ratio: 2/3;
            }
          }
          &.dim3{
            gap: calc((100vh - 176px) * 24 / 904) calc((100vh - 176px) * 24 / 904);
            width: calc((100vh - 176px) * 1224 / 904);
            height: calc((100vh - 176px) * 824 / 904);
            .img-placeholder{
              aspect-ratio: 3/2;
            }
          }
        }
      }
    }
  }

  .bscroll-vertical-scrollbar {
    z-index: 9 !important;
  }

  .bscroll-indicator {
    border: none !important;
    background: rgba(255, 255, 255, 0.2) !important;
    width: 4px !important;
  }
}

.ant-dropdown-menu{
  background: #303030 !important;
  .ant-dropdown-menu-item{
    color: #fff !important;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 0 !important;
    height: 36px;
    p{
      display: flex;
      align-items: center;
      span:nth-child(2){
        margin-left: 8px;
      }
      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }
      .pure-color{
        width: 24px;
        height: 24px;
        background: #202002;
      }
    }
    &:last-child{
      border: none;
    }
  }
}