@import "../../style/variable.scss";
.edit-user{
  color: #383838;
  :global{
    .sub-title-wrapper{
      display: flex;
      border-bottom: 1px solid #e5e5e5;
      width: 100%;
      .sub-title{
        display: flex;
        flex: 1;
        height: 40px;
        justify-content: center;
        cursor: pointer;
        span{
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &.active{
          color: $green;
          span{
            height: 100%;
            border-bottom: 2px solid $green;
          }
        }
      }
    }

    .content{
      width: 320px;
      //border: 1px solid #000;
      .profile{
        height: 120px;
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 12px;
        p{
          line-height: 120px;
          color: $green;
          margin-left: 24px;
        }
        img{
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
        [type=file]{
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: pink;
          left: 0;
          top: 0;
          opacity: 0;
          cursor: pointer;
        }
      }
      .input-frame{
        width: 100%;
        box-sizing: border-box;
        height: 40px;
        background: #E5E5E5;
        border-radius: 20px;
        padding-left: 36px;
        position: relative;
        &.code{
          margin-top: 16px;
        }
        .capsule-button{
          width: 80px;
          height: 24px;
          position: absolute;
          right: 8px;
          top: 50%;
          transform: translateY(-50%);
          &.waiting{
            pointer-events: none;
            background: transparent;
            color: $text-color-dark;
          }
        }
        input{
          height: 100%;
          width: 100%;
          background: transparent;
        }
        &.original-pwd{
          margin-top: 32px;
        }
        &.pwd{
          margin-top: 16px;
        }
        .nickname-icon{
          position: absolute;
          left: 16px;
          width: 16px;
          height: 16px;
          top: 50%;
          transform: translateY(-50%);
        }
        .clear-text{
          cursor: pointer;
          position: absolute;
          right: 16px;
          width: 16px;
          height: 16px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .original-password{

      }
      .tip{
        color: #ccc;
        margin-top: 32px;
        margin-bottom: 16px;
      }
    }

    .confirm-buttons{
      display: flex;
      justify-content: space-between;
      .capsule-button{
        //margin-top: 32px;
        height: 40px;
        width: 148px;
        margin: 32px 12px 0;
        &.cancel{
          background: #e5e5e5;
          color: #808080;
        }
        &.confirm{
        }
      }
    }
  }
}