@import "../../../../style/variable.scss";
.register {
  form {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 370px;
    position: relative;
    .form-item{
      position: relative;
      margin-bottom: 20px;
      height: 40px;
      &:last-of-type{
        margin-bottom: 25px;
      }
      img{
        width: 24px;
        height: 24px;
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
      .iconfont{
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
      }
      .iconfont:before{
        color: #cecece;
      }
      .pwd-error:before{
        color: #ff4e4e;
      }
      input {
        width: 100%;
        height: 100%;
        font-size: 14px;
        border-radius: 20px;
        padding-left: 40px;
        background: #f5f5f5;
        box-sizing: border-box;
        font-weight: 400;
        color: #202020;
      }
      input::placeholder{
        color: #CCCCCC!important;
      }
      .password-error{
        border: 1px solid #ff4e4e;
        color:#ff4e4e;
      }
      //发送验证码按钮
      .capsule-button{
        height: 24px;
        position: absolute;
        padding: 0 9px;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 12px;
        &.waiting{
          pointer-events: none;
          border-radius: 20px;
          background: rgba(204,204,204,1);
          color: rgba(102,102,102,1);
          font-size: 12px;
          width: 80px;
        }
      }
      .clear{
        position: absolute;
        width: 16px;
        height: 16px;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
        left: auto;
        cursor: pointer;
      }
    }
   
    /*sex, age, interst*/
    .sex{
      margin-top: 36px;
      display: flex;
      justify-content: space-between;
      .img{
        text-align: center;
        img{
          width: 120px;
          height: 64px;
          object-fit: cover;
        }
      }


    }
    .age{
      margin-top: 20px;
      .img{
        text-align: center;
        img{
          width: 120px;
          height: 64px;
          object-fit: cover;
        }
      }
      ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 10px;
        li{
          
        }
      }
    }
    .interest{
      ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 5px;
        // height: 280px;
        overflow-y: scroll;
        li{
          width:30%;
          // height: 40px;
          .capsule-button{
            width: 100%;
          }
        }
      }

    }

    .steps-action{
      display: flex;
      justify-content: space-between;
    }
    p{
      font-size: 12px;
      color: #000;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      margin-bottom: 33px;
      cursor: pointer;
      img{
        width: 24px;
        height: 24px;
        margin-right: 4px;
      }
      span{
        color: $green;
      }
    }
    button{
      height: 40px;
    }


    /*统一设置按钮选中和非选中时的颜色*/
    .age, .sex, .interest{
      .capsule-button{
        margin-top: 16px;
        background: $grey;
        border-radius: 20px;
        width: 148px;
        height: 40px;
        font-size: 16px;
      }
      .choosed{
        .capsule-button{
          background: $green;
          border-radius: 20px;
          // width: 148px;
          height: 40px;
          font-size: 16px;
        }
      }
    }

  }
  .ant-steps-item-icon{
    background-color: $green!important;
    border-color: $green!important;
    width: 8px!important;
    height: 8px!important;
  }
 .ant-steps .ant-steps-item-wait .ant-steps-item-icon{
    background: rgba(0,0,0,0.2)!important;
    border-color: transparent!important;
    height: 8px!important;
    width: 8px!important;
    margin-inline-end: 8px!important;
    font-size: 14px!important;
    line-height: 32px!important;
    text-align: center!important;
    border-radius: 32px!important;
    border: 1px solid transparent!important;

  }

 .ant-steps{
    justify-content: center!important;
    padding: 20px 0 15px 0!important;
    position: absolute!important;
    bottom: 20px!important;
    box-sizing: border-box!important;
    margin: 0!important;
    color: rgba(0, 0, 0, 0.88)!important;
    font-size: 0!important;
    line-height: 1.5714285714285714!important;
    list-style: none!important;
    display: flex!important;
    width: 100%!important;
    text-align: initial!important;
    align-items: center!important;
  }

  .ant-steps-item{
    padding-inline-start: 0px!important;
    flex: none;
  }
  .ant-steps-item-content{
    display: block!important;
  }
  .ant-steps-item-finish .ant-steps-item-icon{
    background: rgba(0,0,0,0.2)!important;
    border-color: transparent!important;
  }
}