@import "../../../../style/variable.scss";
.homepage {
  height: 100vh;
  overflow: hidden;

  .full-page {
    width: 100%;
    position: relative;
    //第一页
    &:nth-child(1) {
      overflow: hidden;
      .search{
        width: 800px;
        height: 64px;
        background: rgba(0,0,0,0.2);
        border-radius: 32px;
        padding: 0 32px;
        box-sizing: border-box;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: calc(24000vh/1080);
        [type=text]{
          height: 100%;
          width: 100%;
          background: transparent;
          color: #fff;
          font-size: 16px;
          &:focus, &:valid{
            &~label{
              display: none;
            }
          }
        }
        label{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          pointer-events: none;
          color: #666;
          font-size: 16px;
          display: flex;
          align-items: center;
          .icon-search{
            font-size: 36px;
          }
        }
      }

      .img-display-wrapper {
        position: absolute;
        width: 105%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        .img-display {
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          .img {
            box-sizing: border-box;
            width: 18%;
            margin-bottom: 0;
            height: calc(57600vh / 1080);
            overflow: hidden;
            .img-box {
              animation: display 20s infinite;
              height: 100%;
              width: 100%;
              text-align: right;
              box-sizing: border-box;
              img{
                width: 100%;
                height: calc(100% - 24px);
                object-fit: cover;
                border-radius: 15px;
              }
            }

            &:nth-child(1) {
              margin-bottom: 60px;
              .img-box{
                animation-delay: -3.5s;
              }
            }

            &:nth-child(2) {
              margin-bottom: -60px;
              .img-box{
                animation-delay: -3s;
              }
            }

            &:nth-child(3) {
              margin-bottom: -120px;
              .img-box{
                animation-delay: -2.5s;
              }
            }

            &:nth-child(4) {
              margin-bottom: -60px;
              .img-box{
                animation-delay: -2s;
              }
            }
            &:nth-child(5) {
              margin-bottom: 60px;
              .img-box{
                animation-delay: -1.5s;
              }
            }
          }
        }
      }

      .swipe-down {
        position: absolute;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        font-size: 48px;
        bottom: 96px;
        left: 50%;
        transform: translateX(-50%);
        animation: float 2s infinite;
        background: $green;
        cursor: pointer;
      }

      .bottom-bar {
        height: 80px;
        background: $green;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    /*公共style=====================start=====*/
    &:nth-child(2), &:nth-child(3),&:nth-child(4),&:nth-child(5){
      display: flex;
      justify-content: center;
      .button{
        width: 96px;
        height: 32px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #43CF7C;
        border-radius: 9999px;
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
        color: #202020;
        box-sizing: border-box;
        font-family: PingFangSC;
      }
      >.text-wrapper, >.poster-wrapper{
        width: 50%;
        height: 100%;
        padding: 0 40px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .text, .poster{
        height: 560px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .text{
        //height: 312px;
      }

      .text-wrapper{
        .text{
          width: 320px;
          h2{
            font-size: 48px;
            font-weight: bold;
            margin-bottom: 48px;
          }
          p{
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 80px;
          }
        }
      }
    }
    /*公共style=====================end=======*/
    &:nth-child(2){
      .poster{
        img{
          width: 100%;
          border-radius: 20px;
        }
      }
      .text-wrapper{
        justify-content: flex-start;
      }
    }
    &:nth-child(3){
      .poster{
        width: 100%;
        height: auto;
        display: grid;
        gap: 16px 16px;
        grid-template: 1fr 1fr / 1fr 1fr;
        position: relative;

        .sub-poster{
          border: 1px solid rgba(255,255,255,0.3);
          border-radius: 24px;
          &:last-child{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: calc(50% - 8px);
            height: calc(50% - 8px);
          }
          img{
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 24px;
            transform: translate(-8px, 8px);
          }
        }
      }
      .text-wrapper{
        justify-content: flex-end;
      }
    }
    &:nth-child(4){
      .poster{
        width: 100%;
        img{
          border-radius: 24px;
        }
      }
      .text-wrapper{
        justify-content: flex-start;
      }
    }
    &:nth-child(5){
      .poster{
        width: 100%;
        >div{
          height: 100%;
          .ant-modal-root{
            height: 100%;
            .ant-modal-wrap{
              position: relative;
              height: 100%;
              .ant-modal{
                width: 100%;
                height: 100%;
                background-color: transparent;
                .ant-modal-content{
                  box-shadow: none;
                  background-color: transparent;
                  .pannel-head{
                    color: #fff;
                    .panel-title{
                      opacity: 0;
                    }
                    .pannel-success,.pannel-warning{
                      width: 400px;
                      left: 50%;
                      transform: translateX(-50%);
                    }
                  }
                  .pannel-content{
                    .form-item input{
                      background: #383838;
                      color: #fff;
                    }
                  }
                  .pannel-buttons{
                    background-color: transparent;
                    .capsule-button:nth-child(1){
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }

      }
      .text-wrapper{
        justify-content: flex-end;
      }
    }
  }
}

@keyframes fadeInOut {
  0% {
    pointer-events: auto;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    pointer-events: auto;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes float {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -20px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

//运动1x时间, 等待4x时间  运动4次
@keyframes display {
  0%, 20% {
    transform: translateY(0%);
  }

  25%, 45% {
    transform: translateY(-100%);
  }
  50%, 70% {
    transform: translateY(-200%);
  }
  75%, 95% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(-400%);
  }
}