@import "../../../../style/variable.scss";

.pannel{
  width: 480px;
  border-radius: 20px;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding-bottom: 0;
 
  .ant-modal-content{
    padding: 16px 0px 0px 0px;
    border-radius: 20px;
    
    .ant-modal-close{
      display: none;
    }
    .ant-modal-body{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .pannel-head{
      width: 320px;
      position: relative;
      padding: 30px 0 20px 0;
      user-select: none;
      color: #202020;
      font-weight: 500;
      font-size: 28px;
      display: flex;
      align-items: center;
    }
    .pannel-warning, .pannel-success{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 99;
      width: 448px;
      height: 72px;
      color: rgba(255,78,78,1);
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 16px;
      background: #ffe1e1;
      font-size: 16px;
    }
    .pannel-success{
      color: $green;
    }
    .returnTo, .close{
      cursor: pointer;
    }
    .returnTo{
      width: 24px;
      height: 24px;
      margin: -1px 2px 0 0;
    }
    .close{
      right: 0;
      width: 32px;
      height: 32px;
      background: url("../../../../assets/images/icons/login/icon_close.png");
      background-size: cover;
    }
    .pannel-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 300px;
    }
  }
  .pannel-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 96px;
    border-radius: 0px 0px 20px 20px;
    background: rgba(245,245,245,1);

    .capsule-button{
      width: 148px;
      height: 40px;
      border-radius: 20px;
      color: #202020;
      font-size: 16px;
      &.cancel {
        background: rgba(229,229,229,1);
        margin-right: 10px;
        text-align: center;
      }
      &.confirm{
        margin-left: 10px;
        background:  $green!important;
      }
    }
  }
}
.login{
  .ant-modal-content{
    min-height: 352px;
  }
}
.register{
  .ant-modal-content{
    min-height: 556px;
  }
}
.panel-wrapper{
  .panel-title {
    padding-left: 66px!important;
  }
  ul{
    width: 356px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .capsule-button{
      width: 108px;
      height: 40px;
      border-radius: 20px;
      background: #E5E5E5;
      text-align: center;
      line-height: 40px;
      color: #202020;
      font-size: 16px;
      margin-bottom: 16px;
      cursor: pointer;
      
    }
    .choosed{
      .capsule-button{
        background: $green;
        border-radius: 20px;
        height: 40px;
        font-size: 16px;
      }
    }
  }
 

}