@import "../../../../style/variable.scss";
.capsule-button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: $green;
  border-radius: 9999px;
  box-sizing: border-box;
  border: 1px solid transparent;
  cursor: pointer;
}